protomak-engine/src/test/resources/test-xsds/multiple-complex-types-only.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.jemos.eu/multiple-complex-type-only" 
		xmlns:tns="http://www.jemos.eu/multiple-complex-type-only" 
		elementFormDefault="qualified">

    <complexType name="PersonType">
    	<sequence>
    		<element name="firstName" type="string" minOccurs="0"></element>
    		<element name="lastName" type="string"></element>
    	</sequence>
    </complexType>

    

    <complexType name="UsePersonType">
    	<sequence>
    		<element name="person" type="tns:PersonType" minOccurs="1" maxOccurs="unbounded"></element>
    	</sequence>
    </complexType>
</schema>