protomak-engine/src/test/resources/test-xsds/single-element-with-complex-type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/single-element-with-complex-type" xmlns:tns="http://www.example.org/single-element-with-complex-type" elementFormDefault="qualified">

    <complexType name="personType">
    	<sequence>
    		<element name="firstName" type="string"></element>
    		<element name="lastName" type="string"></element>
    	</sequence>
    </complexType>

    <element name="person" type="tns:personType"></element>
</schema>