protomak-engine/src/site/resources/code-snippets/usage.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.jemos.eu/anonymous-types" 
	xmlns:tns="http://www.jemos.eu/anonymous-types" elementFormDefault="qualified">

    <!-- START SNIPPET: element -->
    <element name="client" type="string">
    </element>
	<!-- END SNIPPET: element -->


	<!-- START SNIPPET: elements -->
    <element name="intElement" type="int"></element>
	<element name="booleanElement" type="boolean"></element>
	<!-- END SNIPPET: elements -->


	<!-- START SNIPPET: anonymousType -->
    <element name="elementWithAnonymousType">
      <simpleType>
        <restriction base="string">
          <enumeration value="A" />
          <enumeration value="B" />
          <enumeration value="C" />
        </restriction>
      </simpleType>
    </element>
    <!-- END SNIPPET: anonymousType -->

</schema>